/*	
	Student Name: Austin Cassel
	File Name: style.css
	Date: 11/28/2021
*/

/* CSS Reset */
    body, header, nav, footer, main, h1, h2, h3, img, div, ul, li, figure, figcaption, aside, article, section {
        margin: 0;
        padding: 0;
        border: 0;
    }

/* Box sizing applies to all elements */
    *, *::before, *::after{
        box-sizing: border-box;
    }

/* Style rule for body and image */
    body{
        background: linear-gradient(to bottom, #aaf1c6, #e9ae7e);
    }
    .hero{
        display: none;
    }
    
/* Style rule for header content */
    h1{
        text-align: center;
        font-size: 2.5em;
        font-family: 'Oxanium', cursive;
        padding: 1%;
        color: #000000;
    }
    .hero-text{
        text-align: center;
        font-size: 1.5em;
        font-family: 'Cinzel', serif;
        color: #000000;
        border: 0.15rem inset green;
        font-weight: bold;
    }

/* Style rule for navigation area */
    nav{
        background-color: #e9ae7e;
        padding: 0.5%;
    }
    nav ul{
        list-style: none;
        border: 0.15rem inset #944f16;
    }
    nav li{
        display: block;
        font-size: 1.25em;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    nav li a{
        display: block;
        color: #000000;
        padding: 0.5em 1em;
        text-decoration: none;
        text-align: center;
    }

    .hove:hover{
        background-color: rgb(231, 38, 38);
        border-radius: 1rem;
    }
  
/* Style rule for main content */
    main{
        padding: 2%;
        font-family: 'Times New Roman', Times, serif;
        overflow: auto;
        border: 0.15rem solid #944f16;
    }
    #intro{
        margin: 0 10%;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Times New Roman', Times, serif;
        color: #000000;
    }

    /* Style rule for the projects page */
    .projects{
        display: grid;
    }
    .project-list{
        text-align: center;
        list-style-position: inside;
    }
    .project-list h2{
        font-size: 2em;
    }
    .project-list ul{
        font-size: 1.25em;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        border: 0.5rem ridge green;
        margin: 0 auto;
    }
    .project-imgs{
        display: none;
    }

    /* Style rule for the map */
    #about iframe{
        width: 300px;
        height: 300px;
        margin: auto;
        display: inline-block;
    }
    #about{
        text-align: center;
        font-size: 1.25em;
        font-family: 'Times New Roman', Times, serif;
        color: #000000;
    }

    /* Style rule for the exp images */
    #exp img{
        max-width: 100%;
        margin: auto;
        display: block;
        border: medium solid green;
    }

    /* Style rule for the exp table */
    table{
        display: none;
    }

    /* Style rule for the exp list mobile */
    .exp-list{
        display: grid;
    }
    .exp-list{
        text-align: center;
    }
    .exp-list ul, li, ul li{
        font-size: 1.25em;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        border: none;
        margin: 0 auto;
    }

    /* Style rule for the form */
    form{
        margin-top: 2%;
        background-color: #e9ae7e;
        padding: 2%;
        max-width: 100%;
        display: grid;
        grid-gap: 20px;
        grid-template-rows: 1fr;
    }
    .form h2{
        text-align: center;
    }
    input, textarea{
        font-size: 1em;
        border: none;
        padding: 0 10px;
        margin: 0;
        max-width: 80%;
        background: white;
    }
    fieldset, input, select, textarea{
        margin-bottom: 2%;
    }
    fieldset legend{
        font-weight: bold;
        font-size: 1.25em;
    }
    label{
        display: block;
        padding-top: 3%;
    }
    form #submit{
        margin: 0 auto;
        border: none;
        display: block;
        padding: 2%;
        font-size: 1em;
    }

    /* Style rule for the audio in vlog */
    .audio{
        display: block;
        text-align: center;
    }
  
/* Style rule for footer content */
    footer {
        background-color: #e9ae7e;
        overflow: auto;
    }
    footer ul {
        list-style: none;
        text-align: center;
        border: 0.15rem outset #944f16;
    }
    footer li{
        display: block;
        font-size: 1.25em;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        padding: 0.5%;
    }
    footer li a {
        display: block;
        color: #000000;
        padding: 0.5%;
        text-decoration: none;
    }
    footer img {
        width: 200px;
    }

/* Media Query for Tablet Viewport */
@media screen and (min-width: 488px), print {
    /* header image */
    .hero{
        position: relative;
        max-width: 500px;
        display: block;
        border: 0.5rem ridge green;
        text-align: center;
        margin: 0 auto;
    }
    .hero-img{
        width: 100%;
    }
    
    /* Tablet Viewport: Style rules for nav area */
    nav{
        background-color: #e9ae7e;
        padding: 0.5%;
    }
    nav ul{
        list-style: none;
        text-align: center;
        border: 0;
    }
    nav li{
        display: inline-block;
        font-size: 1.5em;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        border: 0.5rem inset #944f16;
        border-radius: 3rem;
    }
    nav li a{
        display: inline-block;
        color: #000000;
        padding: 0.5em 0.5em;
        text-decoration: none;
    }
    .hove:hover{
        border-radius: 3rem;
        background-color: #fc790e;
    }

    /* Tablet Viewport: Style rules for main content */
    /* Style rule for the projects page */
    .projects {
        grid-template-rows: 1fr 1fr;
    }
    .project-list ul {
        font-size: 1.5em;
        font-family: 'Times New Roman', Times, serif;
        display: inline-block;
        padding: 10%;
        text-align: left;
    }

    /* Style rule for the form tablet*/
    form-grid{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px;
    }
    input, textarea{
        font-size: 1.5em;
    }
    .btn{
        grid-column: 1 / span 2;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px), print {

  /* Desktop Viewport: Style rules for header */
    h1{
        text-align: center;
        font-size: 4em;
        font-family: 'Oxanium', cursive;
        padding: 1%;
        color: #000000;
    }
    .hero-text{
        position: absolute;
        bottom: 0;
        text-align: center;
        font-size: 1.75em;
        font-family: 'Cinzel', serif;
        padding: 1%;
        color: #000000;
        border: 0.15rem inset green;
        background: rgba(233, 178, 29, 0.75);
        font-weight: bold;
    }

    /* Desktop Viewport: Style rules for nav */
    nav{
        background-color: #e9ae7e;
        padding: 0.5%;
    }
    nav ul{
        list-style: none;
        text-align: center;
        border: 0;
     }
    nav li{
        display: inline-block;
        font-size: 2em;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        border: 0.5rem inset #944f16;
        border-radius: 3rem;
    }
    nav li a{
        display: inline-block;
        color: #000000;
        padding: 0.5em 1em;
        text-decoration: none;
    }

    /* Desktop Viewport: Style rules for the main content */
    #intro{
        font-size: 2em;
    }

    /* Style rule for the projects images */
    .project-imgs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
    }
    .project-imgs img{
        max-width: 100%;
    }

    /* Style rule for the map */
    #about iframe{
        width: 400px;
        height: 400px;
        margin: auto;
        display: inline-block;
        box-shadow: 10px 5px 5px green;
    }

    /* Style rule for the exp images */
    #exp img{
        max-width: 50%;
        margin: auto;
        display: block;
        border: medium solid green;
    }

    /* Style rule for the exp-list desktop */
    .exp-list{
        display: none;
    }
    
    /* Style rule for the container */
    #container{
	    width: 80%;
	    margin: 0 auto;
    }
    /* Style rule for the table */
    table{
        width: 80%;
        margin: 0 auto;
        border: 3px solid #71881b;
        display: table;
    }

    /* Style rule for border-collapse */
    table, tr, th, td{
        padding: 2%;
        border-collapse: collapse;
    }

    /* Style rule for the caption */
    caption{
        padding: 2%;
        margin-top: 2%;
        font-size: 2em;
        font-weight: bold;
    }

    /* Style rule for the cell borders */
    th, td{
        border: 1px solid #7188bb;
        font-size: 1.5em;
    }

    /* Style rule for the text alignment */
    td{
        text-align: center;
    }

    /* Desktop Viewport: Style rule for footer */
    footer{
        background-color: #e9ae7e;
        overflow: auto;
    }
    footer ul{
        list-style: none;
        text-align: center;
        border: 0.15rem outset #944f16;
    }
    footer li{
        display: inline-block;
        font-size: 1.5em;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        padding: 0.5%;
    }
    footer li a{
        display: inline-block;
        color: #000000;
        padding: 0.5%;
        text-decoration: none;
    }
}